[Unit]
Description=Node Exporter for %i
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/node_exporter $OPTIONS
EnvironmentFile=/etc/default/node-exporter.subunit
EnvironmentFile=-/etc/default/node-exporter-%i
NetworkNamespacePath=/var/run/netns/%i

[Install]
WantedBy=multi-user.target
