[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target
AssertPathExists=/etc/default/node-exporter

[Service]
Type=simple
Restart=always
RestartSec=5
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/node_exporter $OPTIONS
EnvironmentFile=/etc/default/node-exporter

[Install]
WantedBy=multi-user.target
