[Unit]
Description=Nlackbox Exporter
AssertPathExists=/etc/default/blackbox-exporter

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/blackbox_exporter $OPTIONS
EnvironmentFile=/etc/default/blackbox-exporter

[Install]
WantedBy=multi-user.target
